body {
	background-color: powderblue;
}

header {
	color: white;
	font-family: 'Dancing Script', cursive; 
	text-align: center;
	font-size: 1.5em;
	display: flex;
	justify-content: space-between;
	margin: 0 100px 0 59px;
	max-width: 100%
	padding-bottom: 0;
}

.scoreBox {
	height: 40px;
	width: 80px;
	font-size: 1em;
	color:black;
}

#playerOneScore {
	color:red;
}

.displayScore {
	height: 28px;
	width: 80px;
	border: 1px solid black;
	font-family: 'Maven Pro', serif;
}


.cell {
	height: 110px;
	width: 110px;
	border: 1px white solid;
	padding: 1px;
	margin: auto;
	float: left;
	text-align: center;
	vertical-align: middle;
	line-height: 95px;
	font-family: 'Maven Pro', sans-serif;
	font-size: 0.8em;
	color: black;

}

#board { 
	display: flex;
	margin: auto 30px;

}

ul li {
	list-style-type: none;
	text-align: center;
}

span {
	display:block;
	position: center;
}


.row {
	width: 264px;
	margin: 15px;
}


#resources {
	clear:all;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: auto;
}

a {
	color: black;
	font-family: 'Maven-Pro', sans-serif;
}

a:hover {
	color: white;}

a:link {
	text-decoration:none;
}

a:visited {
	text-decoration: none;
}
img {
	max-width: 100%;
	max-height: 100%;
}


@media only screen and (max-width: 640px) {
    

    body {
    	background-color: lightgray;
    }

    header {
    	max-width: 500px;
    	font-size:1em;
    	display:flex;
    	justify-content:space-between;
    	text-align: center;
    }
    
    .row {
    	width: 500px;
    	padding: 3px;
    	float: center;
    }


    #board {
    	display: inline-block;
    }
}
