body {
	background-color: powderblue;
}

header {
	color: white;
	font-family: 'Dancing Script', cursive; 
	text-align: center;
	font-size: 1.5em;
	display: flex;
	justify-content: space-between;
	margin: auto 30px;
	max-width: 100%
	padding-bottom: 0;
}

#stop {
	height: 30px;
	width: 80px;
	margin-top: 35px;
}

.scoreBox {
	height: 40px;
	width: 80px;
	font-size: 1em;
	color:black;
}

.displayScore {
	height: 28px;
	width: 80px;
	border: 1px solid black;
	font-family: 'Maven Pro', serif;
}


.cell {
	height: 110px;
	width: 110px;
	border: 1px white solid;
	padding: 1px;
	display: inline-block;
	margin: auto;
	float: left;
	text-align: center;
	vertical-align: middle;
	line-height: 120px;
	font-family: 'Maven Pro', sans-serif;
	font-size: 0.8em;
	color: black;

}

#board { 
	display: flex;
	justify-content: center;
	margin: auto 30px;

}


.row {
	width: 264px;
	margin: 15px;
}



img {
	max-width: 100%;
	max-height: 100%;
}
